.header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  color: #000;

  text-decoration: none;
  margin-left: 215px;
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.header__logo--colored {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;

  letter-spacing: 0.78px;
}
/* .header__nav {
} */
.header__nav__list {
  margin-right: 344px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav__item {
  margin-right: 50px;
  list-style-type: none;
}
.header__nav_link {
  color: #212121;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
  display: block;
  text-decoration: none;
}

.header__nav_link:hover,
.header__nav_link:focus {
  color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact__list {
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 32px;
}
.header__contact_item {
  list-style-type: none;
}
.header__contact__link {
  color: #757575;
  margin-right: 50px;
  text-decoration: none;

  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header__contact__link:hover,
.header__contact__link:focus {
  color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact__li {
  color: #757575;

  margin-right: 215px;
  text-decoration: none;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header__contact__li:hover,
.header__contact__li:focus {
  color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  background: #2f303a;
  width: 1900px;
  height: 600px;
  flex-shrink: 0;
  text-align: center;
}
.hero__conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.hero__title {
  font-family: "Roboto";
  padding-top: 200px;
  color: #ffff;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: 136.364%;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 136.364%;
  letter-spacing: 2.64px;
  width: 696px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.hero__button {
  border-radius: 4px;
  background: #2196f3;
  width: 216px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}

.things {
  margin-top: 60px;
}

.things__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.things__list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.things__item {
  content: "";
  display: block;
  border-radius: 4px;
  background: #f5f4fa;
  width: 100%;
  height: 120px;
}

.things__title {
  color: #212121;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.things__text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  letter-spacing: 0.42px;
  text-align: center;
}

.works {
  align-items: center;
  display: block;
}
/* .works__cotainer {
    
} */
.works__title {
  color: #212121;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  padding-top: 40px;
  padding-bottom: 50px;
}
.works__section__list {
  display: flex;
  /* justify-content: space-between; */
  margin-right: 30px;
  margin-left: 315px;
  gap: 30px;
}
.works__section__item {
  list-style-type: none;
}
.works__img__container {
  position: relative;
  width: 370px;
  height: 294px;
  flex-shrink: 0;
  margin-bottom: 94px;
}
.works__img {
  width: 370px;
  height: 294px;
  flex-shrink: 0;
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
/* .team__container {
    display: flex;
    align-items: center;
 
} */

.team__container__title {
  padding-left: 810px;
}

.team__title {
  color: #212121;

  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team__ul__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 215px;
  margin-top: 96px;
  margin-left: 215px;
}

.team__list {
  gap: 30px;
}
.team__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  list-style-type: none;
}
.team__img {
  width: 320px;
}
.team__item__content {
  padding: 30px 32px;
}
.team__name {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  text-align: center;
  margin-bottom: 10px;
} 

.team__text {
  color: #757575;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}

.footer {
  background-color: #2f303a;
  width: 1900px;
  height: 252px;
  flex-shrink: 0;
}
/* .footer__container {
} */
.footer__info {
  margin-left: 215px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
.footer__logo {
  color: #ffffff;
  text-decoration: none;
  margin-left: 1 15px;

  margin-top: 60px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.footer__logo__colored {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.footer__first__text {
  color: #fff;

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  text-decoration: none;
}
.footer__second__text {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  text-decoration: none;
}

.footer__thr__text {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin-bottom: 9px;
  text-decoration: none;
}

/* portfolio */

.services {
  margin-top: 132px;
  margin-bottom: 56px;
}
/* .services__container {
} */
.services__list {
  display: flex;
  justify-content: center;
  gap: 8px;
  list-style-type: none;
}
/* .services__item {
} */
.services__buttons {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 162.5%;
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: #f5f4fa;
  padding: 6px 22px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: transparent;
}

.services__buttons:focus,
.services__buttons:hover {
  background-color: #2196f3;
  color: white;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* advertisement */

.advertisement__section {
  gap: 30px;
  margin: 20px 24px;
}
.advertisement__list {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: 215px;
}

.advertisement__item {
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eee;
  margin-bottom: 94px;
  margin-left: 30px;
}

.advertisement__item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.advertisement__subtitle {
  color: #212121;
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  padding-left: 20px;
  padding-top: 15px;
}

.advertisement__text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.div__advertisement {
  position: relative;
  overflow: hidden;
}

.div__advertisement:hover .overlay {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 400ms ease-in-out;
}
.overlay__text {
  width: 322px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  margin: 63px 24px;
}
